/*
CSS Module for DayForeCast component
*/

/*day forecast container*/
.dayForecastCont {
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-600);
  border-radius: 12px;
  min-width: 6.5rem; /*104px*/
  min-height: 9.6875rem; /*155px*/
  padding: 1rem 0.5rem;
}

/*day of the week*/
.title {
  font-size: 1.125rem;
}

/*weather icon image*/
.imgWeather {
  width: 60px;
  height: 60px;
}

/*max and min temperatures container*/
.tempsCont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

/*min temperature value*/
.minTemp {
  color: var(--neutral-200);
}

.maxTemp,
.minTemp {
  font-size: var(--font-16px);
}

@media (min-width: 87.5rem /*1400px*/) {
  /*day forecast container*/
  .dayForecastCont {
    min-width: 7.75rem; /*124px*/
  }
}
