/*
CSS Module for Temperature component
*/

/*temperature card background image*/
.tempCardBg {
  background-image: url("/images/background/bg-today-small.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  overflow: hidden;
  padding: 2.5rem 0;
  margin: 2rem 0 1.5rem 0;
}

/*temperature location*/
.location {
  font-size: 1.75rem; /*28px*/
}

/*current date*/
.date {
  font-size: 18px;
  opacity: 80%;
  margin-top: 0.5rem;
}

/*icon and temperature container*/
.iconTempCont {
  margin-top: 1.2rem;
}

/*temperature icon*/
.tempIcon {
  width: 120px;
  height: 120px;
}

/*temperature*/
.temperature {
  font-size: 5rem; /*80px*/
  font-style: italic;
  max-width: 100%;
  margin-left: -1rem;
}

@media (min-width: 48rem /*768px*/) {
  /*temperature card background image*/
  .tempCardBg {
    background-image: url("/images/background/bg-today-large.svg");
    aspect-ratio: 400/143; /*original img aspect ratio*/
    max-width: 100%;
    max-height: 100%;
  }

  /*temperature card container*/
  .tempCardCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 2.5rem 2rem;
  }

  /*temperature card title container*/
  .tempCardTitleCont {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 87.5rem /*1400px*/) {
  /*temperature card background image*/
  .tempCardBg {
    margin-top: 0;
  }

  /*temperature*/
  .temperature {
    font-size: 6rem; /*96px*/
    margin-left: 0;
  }
}
