/*
CSS Module for UnitOption component
*/

.unit {
  font-size: 0.7rem;
  padding: 0.5rem 0.375rem; /*8px 6px*/
}

/*unit selected background*/
.unitSelected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--neutral-700);
  border-radius: 12px;
}

/*checkmark icon*/
.checkmark {
  width: 14px;
  height: 17px;
}

@media (min-width: 87.5rem /*1400px*/) {
  .unit {
    font-size: 1rem;
  }
}
